<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>BhuvanSA</title>
  <link rel="stylesheet" href="../static/style.css" <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>

  <h1> Hey this is BhuvanSA </h1>
  <!-- particles.js container -->
  <div id="particles-js"></div>
  <!-- scripts -->
  <script src="../static/particles.js"></script>
  <script src="../static/app.js"></script>
  <div>
    <h1> Hey this is BhuvanSA </h1>
  </div>

</body>

</html>
